#aviso{
    color: rgb(57, 46, 207);
}
.titulo{
    border-radius: 10px 20px;
    background-size: cover;
    color: #0000CD;
}
.fundo{
    background-color: rgb(35, 141, 43)!important;
}

ion-content {
    --background: none;
    background-image: url('/assets/loga.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background: opacity 30px;
  }