

<ion-header>
      
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
          
        </ion-buttons>
        <ion-buttons slot="secondary">
          <ion-button (click)="logoff()" placeholder="Logar">
            <ion-icon color="danger" slot="icon-only" name="log-out"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title style="text-align:center;font-size:25px;"> Cadastro de Loja </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content  color="red">
    <form  [formGroup]="formGroup">
      <ion-grid>
        <ion-row color="red	" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>
              <ion-item>
                <ion-input  formControlName="nome" type="text" placeholder="Nome" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="telefone" type="text" placeholder="Telefone" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="email" type="email" placeholder="your@email.com" ></ion-input>
              </ion-item>
                <ion-input formControlName="cnpj" type="text" placeholder="CNPJ" ></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button  size="large" [disabled]="form.invalid" expand="block" (click)="cadastrar()">Cadastrar</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>




      
 
  </ion-content>