<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
      
      </ion-header>
      <ion-content class="menu-app">
          <ion-img class="topo" style="width: 10px; height: 10px; right: 10px " src="../assets/1.png" style="text-align:center;"></ion-img>

       
        <div auto-hide="false" *ngFor="let p of appPages">

        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]"  ><ion-icon  [name]="p.icon"></ion-icon> {{p.title}}</ion-item>
      
        </div>    


      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
