<ion-app>
  <ion-split-pane>
    
    <ion-menu>
        
      <ion-content class="menu-app">
          <ion-img class="topo" style="width: 80px; height: 80px; right: 60px " src="../assets/1.png"></ion-img>
          <div auto-hide="false" *ngFor="let p of appPages">
            <p  [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </p>
          </div>
      
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
