
  
  <ion-content padding>
    <img class="login" src="../assets/1.png">

    <h1>SHAPE MIN</h1>

  
    <ion-item color="gold">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input #email></ion-input>
    </ion-item>
  
    <ion-item color="gold">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" #senha></ion-input>
      </ion-item>
      
      <ion-button color="gold" expand="full" (click)="logar()">Logar</ion-button>
      <ion-button color="gold"expand="full" (click)="cadastrar()">Cadastrar</ion-button>

 
    </ion-content>



