


<ion-header class="fadeIn">
 

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="logar()" placeholder="Logar">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align:center;font-size:25px;">SHAPE MIN.</ion-title>
  </ion-toolbar>


</ion-header>

<ion-content padding class="fadeIn" >

  <ion-row>
    <ion-col >
        <ion-slides pager="true" autoplay="true" style="width: 200px; height: 200px;" [options]="slideOpts">
            <ion-slide>
              <ion-img src="../assets/2.png"></ion-img>
            </ion-slide>
            <ion-slide>
              <ion-img src="../assets/3.png"></ion-img>
            </ion-slide>
            <ion-slide>
              <ion-img src="../assets/4.png"></ion-img>
            </ion-slide>
          </ion-slides>
        </ion-col>
  </ion-row>

  
  <ion-searchbar #textoBusca animated placeholder="Procurar" debounce="500" (ionChange)="busca()"></ion-searchbar>



  <ion-row size-md class="centralizarTexto" *ngFor="let busca of listaDeProduto"  >
      <ion-col >
        
          <ion-img style="height:50px;width:50px;" src="../assets/78.jpg"></ion-img>
          
      </ion-col>
      <ion-col>
         <h1>Whey</h1>
      </ion-col>

   </ion-row>

  <ion-row size-md class="centralizarTexto">
    <ion-col>
      <ion-img src="../assets/5.jpg"></ion-img>
      <ion-button color="dark" shape="round" expand="block" size="small" (click)="whey()">Whey Protein</ion-button>
    </ion-col>
    <ion-col>
      <ion-img src="../assets/6.png"></ion-img>
      <ion-button color="dark" shape="round" expand="block" size="small" (click)="bcaa()"> BCAA </ion-button>
    </ion-col>
  </ion-row>
  <div class="hr"></div>
  <ion-row size-md class="centralizarTexto">
    <ion-col>
      <ion-img src="../assets/7.png"></ion-img>
      <ion-button color="dark" shape="round" expand="block" size="small" (click)="creatina()"> Creatine </ion-button>
    </ion-col>
    <ion-col>
      <ion-img src="../assets/8.jpg"></ion-img>
      <ion-button color="dark" shape="round" expand="block" size="small" (click)="tribulus()"> tribulus </ion-button>
    </ion-col>
  </ion-row>

     <ion-fab vertical="bottom" horizontal="start">
      <ion-fab-button>
        <ion-icon name="aperture"></ion-icon>
      </ion-fab-button>
  
      <ion-fab-list side="top">
        <ion-fab-button href="https://pt-br.facebook.com/">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button href="https://www.instagram.com/?hl=pt-br">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-fab-button>
        <ion-fab-button href="https://twitter.com/login?lang=pt">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button href="https://www.youtube.com/">
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
  
  
  
    </ion-fab>


    <ion-button (click)="showModal($event)">Show Modal</ion-button>

</ion-content>